name: DevSecOps Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  security-check:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Install Gitleaks
        run: |
          wget https://github.com/gitleaks/gitleaks/releases/latest/download/gitleaks-linux-amd64
          chmod +x gitleaks-linux-amd64
          sudo mv gitleaks-linux-amd64 /usr/local/bin/gitleaks

      - name: Run Secret Scan
        run: gitleaks detect --source . --exit-code 1

      - name: Install Dependencies
        run: npm install

      - name: Run Dependency Audit
        run: npm audit --audit-level=high