name: DevSecOps Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  security-check:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Run Gitleaks Secret Scan
        uses: gitleaks/gitleaks-action@v2
        with:
          fail: true

      - name: Install Dependencies
        run: npm install

      - name: Run Dependency Audit
        run: npm audit --audit-level=high